<html lang="en" dir="ltr">
<link rel="stylesheet" href="sid.css" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style12.css">
</head>
<body>
   <a href="/login1"><button id="back">Back</button></a>
   <div class="box">
    <div class="part1t">
      <h1>Your Hospital Details</h1>
      <h2>Institute Details</h2>
      <div id="contact">
          <h3>Name - <%=name%></h3>
          <h3>Address - <%=address%></h3>
          <h3>City - <%=city%></h3>
          <h3>Phone - <%=phone%></h3>
        </div>
        <h2>Blood Details</h2>
        <h5>(Amount of blood of respective blood groups available have been listed below in litres)</h5>
        <div id="blood">
          <h3>O+ - <%=Op%> litres &emsp;&emsp;&emsp;&emsp; O- - <%=On%> litres</h3>
          <h3>A+ - <%=Ap%> litres &emsp;&emsp;&emsp;&emsp; A- - <%=An%> litres</h3>
          <h3>B+ - <%=Bp%> litres &emsp;&emsp;&emsp;&emsp; B- - <%=Bn%> litres</h3>
          <h3>AB+ - <%=ABp%> litres &emsp;&emsp;&emsp;&emsp; AB- - <%=ABn%> litres</h3>
        </div>
          </div>  </div>

</body>
</html>